body {
  max-width: 1000px;
}

.nav {
  width: 120px;
  float: left;
}

.nav-item{
  cursor: pointer;
  padding: 0 15px;
  color: #2C657F;
}

.nav .selected {
  color: #57C9FF;
}

.header {
  min-width: 100%;
  text-align: center;
}

.header .name {
  padding-top: 15px;
  margin-bottom: 10px;
}

.header .title {
  margin-top: 0px;
}

.beach-picture {
  width: 100px;
  border-radius: 50%;
  float: left;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.content {
  float: right;
  width: calc(100% - 150px);
  text-align: center;
  padding: 15px;
}

.summary {
  padding: 5px 50px;
}

.experience {
  text-align: left;
}

.company-header h3 {
  margin: .5em .75em;
}

.company-header h5 {
  margin: .5em 1em;
}

.company-bullets ul li {
  margin: .25em 0;
}